/* Start mix */
.inp,
.btn {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}
/* End mix */

/* Start Main Button */
.btn {
  cursor: pointer;
}
/* End Main Button */

/* Start Main Input */
.inp {
  outline: none;
  background-color: var(--app-content-secondary-color);
  border: 1px solid var(--app-content-secondary-color);
  color: var(--app-content-main-color);
  transition: 0.3s;
}
.inp:hover {
  border-color: var(--action-color-hover);
}
.inp:focus {
  border-color: var(--action-color);
}
/* End Main Input */
